#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.xiaomi.bluetooth.rc

on init
    # Don't use DroidLogic's Bluetooth HAL
    stop vendor.bluetooth-1-1-droidlogic
