#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.xiaomi.bt_pf_server.rc

on init
    # Do not use DroidLogic's Bluetooth HAL
    stop vendor.bluetooth-1-1-droidlogic
